.footer {
  font-size: 0.7rem;
  padding: 4rem 0;
  color: white;
  position: relative;
  height: 600px;
}
.footer .logo {
  position: absolute;
  width: 5rem;
  height: 1.5rem;
  top: 1rem;
  left: 0.5rem;
}
.footer .title {
  width: 100%;
  font-size: 0.7rem !important;
  background-color: #264AB4;
}
.footer .user {
  position: absolute;
  z-index: 999;
  bottom: 0;
  padding: 0.2rem;
  text-align: center;
  color: white;
  width: 6rem;
}
.footer .user .user-top {
  margin-bottom: 0.3rem;
}
.footer .user .user-top span {
  margin-right: 0.2rem;
}
.footer .user .user-top a:hover {
  color: red !important;
}
.footer .user .user-bottom {
  font-size: 0.6rem;
  text-align: center;
}
.ant-menu,
ant-menu-sub,
ant-menu-line {
  background-color: #264AB4 !important;
  text-align: left;
  width: 100%;
  font-size: 0.7rem !important;
}
.ant-menu li,
ant-menu-sub li,
ant-menu-line li {
  width: 100% !important;
}
.ant-menu-item a::before,
.ant-menu-inline a::before,
.ant-menu-vertical a::before {
  height: 1rem !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #12a035 !important;
}
.ant-menu-vertical {
  height: 1.5rem !important;
}
