.card{
    width:50rem;
    // background-color: #bfa;
    margin-top: 2rem;
    background-color: white;
    font-size: 0.7rem;
    // font-size:0.6rem;
    button{
        background-color: #264AB4;
        color: white;
        font-size: 0.7rem;
    }
}